body {
  margin: 0px;
}

canvas {
  background-image: url(https://images.saymedia-content.com/.image/t_share/MTc0NDU3NzA1NTU2MjIzNjIy/lavender-town-syndrome-the-creepiest-urban-legend-of-pokemon.png);
}

img {
  display: none;
}
